.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 10%;
  border: 1px solid #080808;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #4e75ff;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}
